In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import koreanize_matplotlib

# 그래프에 retina display 적용
%config InlineBackend.figure_format = 'retina'

ModuleNotFoundError: No module named 'koreanize_matplotlib'

In [ ]:
ls

In [13]:
cd data

/aiffel/aiffel/datathon_apt/data

In [14]:
ls

 국가철도공단_부산_지하철_주소데이터_20231109.csv
 전체_도시철도역사정보_20231231.xlsx
 city_gu_dong.csv
 전국초중등학교위치표준데이터.csv
 전국행정동리스트.csv
'서울시행정구역(동별).csv'
'부산시행정구역(동별).csv'
'서울교통공사 지하철역 주소 및 전화번호 정보.csv'
 day_care_center.csv
 __MACOSX/
 park.csv
 school_data.csv
 submission.csv
 subway_data.csv
 test.csv
 train2.csv
 train2.csv.zip
 train.csv
 train.csv.zip
 국가철도공단_부산_지하철_주소데이터_20231109.csv
'부산시행정구역(동별).csv'
'서울교통공사 지하철역 주소 및 전화번호 정보.csv'
'서울시행정구역(동별).csv'
 전국초중등학교위치표준데이터.csv
 전국행정동리스트.csv
 전체_도시철도역사정보_20231231.xlsx

In [7]:
import zipfile

home = os.getenv('HOME') +'/aiffel/datathon_apt/data/'

def unzip_file(zip_file_path, extract_to_path):
    """
    zip_file_path: 압축 파일의 경로
    extract_to_path: 압축을 푸는 경로
    """
    with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
        zip_ref.extractall(extract_to_path)

# 사용 예시
zip_file_path = home + 'train2.csv.zip' # 압축 파일 경로
extract_to_path = home  # 압축을 푸는 경로

unzip_file(zip_file_path, extract_to_path)

In [17]:
train1_df = pd.read_csv('train.csv')
train1_df.head()

,transaction_id,apartment_id,city,dong,jibun,apt,addr_kr,exclusive_use_area,year_of_completion,transaction_year_month,transaction_date,floor,transaction_real_price
0,0,7622,서울특별시,신교동,6-13,신현(101동),신교동 6-13 신현(101동),84.82,2002,200801,21~31,2,37500
1,1,5399,서울특별시,필운동,142,사직파크맨션,필운동 142 사직파크맨션,99.17,1973,200801,1~10,6,20000
2,2,3578,서울특별시,필운동,174-1,두레엘리시안,필운동 174-1 두레엘리시안,84.74,2007,200801,1~10,6,38500
3,3,10957,서울특별시,내수동,95,파크팰리스,내수동 95 파크팰리스,146.39,2003,200801,11~20,15,118000
4,4,10639,서울특별시,내수동,110-15,킹스매너,내수동 110-15 킹스매너,194.43,2004,200801,21~31,3,120000

In [12]:
train2_df = pd.read_csv(home + 'train2.csv')
train2_df.head()

,Unnamed: 0,transaction_id,apartment_id,city,dong,jibun,apt,addr_kr,exclusive_use_area,year_of_completion,...,park_기타,park_도시농업공원,park_묘지공원,park_문화공원,park_소공원,park_수변공원,park_어린이공원,park_역사공원,park_체육공원,park_total
0,0,0,7622,서울특별시,신교동,6-13,신현(101동),신교동 6-13 신현(101동),84.82,2002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,5399,서울특별시,필운동,142,사직파크맨션,필운동 142 사직파크맨션,99.17,1973,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2,3578,서울특별시,필운동,174-1,두레엘리시안,필운동 174-1 두레엘리시안,84.74,2007,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,3,10957,서울특별시,내수동,95,파크팰리스,내수동 95 파크팰리스,146.39,2003,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,4,10639,서울특별시,내수동,110-15,킹스매너,내수동 110-15 킹스매너,194.43,2004,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN