In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
home = os.getenv('HOME')+'/aiffel/dataton_apt/data/'

In [3]:
home

'/aiffel/aiffel/dataton_apt/data/'

In [4]:
pwd

'/aiffel/aiffel/dataton_apt/이영우'

In [5]:
# import os
# import pandas as pd

# home = os.getenv('HOME') + '/aiffel/Datagon_apt/data/'
# park_df = pd.read_csv(home + 'park.csv')
# print(park_df)

In [6]:
park_df = pd.read_csv(home +'park.csv')
park_df

,city,gu,dong,park_name,park_type,park_area,park_exercise_facility,park_entertainment_facility,park_benefit_facility,park_cultural_facitiy,park_facility_other,park_open_year,reference_date
0,부산광역시,남구,대연동,대연공원,근린공원,55227.0,NaN,NaN,NaN,NaN,NaN,1944.0,2018-08-14
1,부산광역시,남구,대연동,당곡공원,역사공원,75465.0,NaN,NaN,NaN,NaN,NaN,1944.0,2018-08-14
2,부산광역시,남구,대연동,대일어린이공원,어린이공원,422.1,NaN,NaN,NaN,NaN,NaN,1965.0,2018-08-14
3,부산광역시,남구,대연동,못골어린이공원,어린이공원,499.8,NaN,NaN,NaN,NaN,NaN,1968.0,2018-08-14
4,부산광역시,남구,용호동,솔밭어린이공원,어린이공원,1500.2,NaN,NaN,NaN,NaN,NaN,1970.0,2018-08-14
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1354,서울특별시,구로구,천왕동,이펜시아어린이공원,어린이공원,1500.0,NaN,조합놀이 1기,NaN,NaN,NaN,2006.0,2019-02-25
1355,서울특별시,구로구,천왕동,개명소공원,소공원,5415.0,NaN,NaN,NaN,NaN,NaN,2006.0,2019-02-25
1356,서울특별시,구로구,천왕동,봉화대근린공원,근린공원,60975.0,NaN,NaN,NaN,NaN,NaN,2006.0,2019-02-25
1357,서울특별시,구로구,항동,푸른수목원,근린공원,100809.0,NaN,NaN,NaN,NaN,NaN,2005.0,2019-02-25
1358,서울특별시,구로구,오류동,오류동역문화공원,문화공원,7510.0,NaN,NaN,NaN,NaN,NaN,2013.0,2019-02-25

In [7]:
care_df = pd.read_csv(home+'day_care_center.csv')
care_df

,city,gu,day_care_name,day_care_type,day_care_baby_num,teacher_num,nursing_room_num,playground_num,CCTV_num,is_commuting_vehicle,reference_date
0,서울특별시,서대문구,가람어린이집,국공립,70,11.0,5.0,1.0,7.0,N,2018-07-31
1,서울특별시,서대문구,가좌제일어린이집,국공립,88,22.0,5.0,2.0,10.0,N,2018-07-31
2,서울특별시,서대문구,경찰청어린이집,직장,90,23.0,6.0,1.0,32.0,N,2018-07-31
3,서울특별시,서대문구,고운햇살어린이집,가정,18,5.0,3.0,0.0,4.0,N,2018-07-31
4,서울특별시,서대문구,고은어린이집,국공립,93,20.0,7.0,2.0,10.0,N,2018-07-31
...,...,...,...,...,...,...,...,...,...,...,...
7546,부산광역시,금정구,해바라기어린이집,민간,46,13.0,NaN,NaN,NaN,y,2019-01-21
7547,부산광역시,금정구,해수어린이집,가정,19,6.0,NaN,NaN,NaN,y,2019-01-21
7548,부산광역시,금정구,행복한그림동산어린이집,민간,92,16.0,NaN,NaN,NaN,y,2019-01-21
7549,부산광역시,금정구,행복한어린이집,민간,43,12.0,NaN,NaN,NaN,y,2019-01-21
7550,부산광역시,금정구,혜인어린이집,민간,32,7.0,NaN,NaN,NaN,y,2019-01-21

In [8]:
data_df = pd.read_csv(home+'train.csv')
data_df

,transaction_id,apartment_id,city,dong,jibun,apt,addr_kr,exclusive_use_area,year_of_completion,transaction_year_month,transaction_date,floor,transaction_real_price
0,0,7622,서울특별시,신교동,6-13,신현(101동),신교동 6-13 신현(101동),84.8200,2002,200801,21~31,2,37500
1,1,5399,서울특별시,필운동,142,사직파크맨션,필운동 142 사직파크맨션,99.1700,1973,200801,1~10,6,20000
2,2,3578,서울특별시,필운동,174-1,두레엘리시안,필운동 174-1 두레엘리시안,84.7400,2007,200801,1~10,6,38500
3,3,10957,서울특별시,내수동,95,파크팰리스,내수동 95 파크팰리스,146.3900,2003,200801,11~20,15,118000
4,4,10639,서울특별시,내수동,110-15,킹스매너,내수동 110-15 킹스매너,194.4300,2004,200801,21~31,3,120000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1216548,1234823,9578,부산광역시,정관읍 용수리,1387,정관 동일스위트1차,정관읍 용수리 1387 정관 동일스위트1차,59.8245,2012,201711,11~20,3,22000
1216549,1234824,9578,부산광역시,정관읍 용수리,1387,정관 동일스위트1차,정관읍 용수리 1387 정관 동일스위트1차,84.9923,2012,201711,21~30,7,30750
1216550,1234825,9578,부산광역시,정관읍 용수리,1387,정관 동일스위트1차,정관읍 용수리 1387 정관 동일스위트1차,84.9923,2012,201711,21~30,9,29500
1216551,1234826,9586,부산광역시,정관읍 용수리,1364,정관신도시롯데캐슬,정관읍 용수리 1364 정관신도시롯데캐슬,101.7400,2008,201711,21~30,7,26700
1216552,1234827,9578,부산광역시,정관읍 용수리,1387,정관 동일스위트1차,정관읍 용수리 1387 정관 동일스위트1차,84.9923,2012,201711,21~30,16,28800

In [9]:
data_df.describe()

,transaction_id,apartment_id,exclusive_use_area,year_of_completion,transaction_year_month,floor,transaction_real_price
count,1.216553e+06,1.216553e+06,1.216553e+06,1.216553e+06,1.216553e+06,1.216553e+06,1.216553e+06
mean,6.091530e+05,6.299685e+03,7.816549e+01,1.998297e+03,2.012984e+05,9.343291e+00,3.822769e+04
std,3.526198e+05,3.581169e+03,2.915113e+01,8.941347e+00,2.905732e+02,6.606500e+00,3.104898e+04
min,0.000000e+00,0.000000e+00,9.260000e+00,1.961000e+03,2.008010e+05,-4.000000e+00,1.000000e+02
25%,3.041380e+05,3.345000e+03,5.976000e+01,1.993000e+03,2.010100e+05,4.000000e+00,1.900000e+04
50%,6.082760e+05,5.964000e+03,8.241000e+01,1.999000e+03,2.013120e+05,8.000000e+00,3.090000e+04
75%,9.124140e+05,9.436000e+03,8.497000e+01,2.005000e+03,2.015110e+05,1.300000e+01,4.700000e+04
max,1.234827e+06,1.265800e+04,4.243200e+02,2.017000e+03,2.017110e+05,8.000000e+01,8.200000e+05

In [10]:
data_df.columns

Index(['transaction_id', 'apartment_id', 'city', 'dong', 'jibun', 'apt',
       'addr_kr', 'exclusive_use_area', 'year_of_completion',
       'transaction_year_month', 'transaction_date', 'floor',
       'transaction_real_price'],
      dtype='object')

In [11]:
data_df['apartment_id'].unique()
print(len(data_df['apartment_id'].unique()))

12533

In [12]:
data_df['apt'].unique()
print(len(data_df['apt'].unique()))

10440

In [13]:
data_df['dong'].unique()
print(len(data_df['dong'].unique()))

473

In [14]:
data_df['transaction_year_month'].max()

201711

In [15]:
care_df.groupby('day_care_type').size()

day_care_type
가정        3120
국공립       1408
민간        2492
법인·단체      113
사회복지법인     107
직장         272
협동          39
dtype: int64

In [16]:
care_df.groupby('day_care_type').agg(['mean'])[['day_care_baby_num', 'teacher_num', 'nursing_room_num', 'playground_num', 'CCTV_num']]

,day_care_baby_num,teacher_num,nursing_room_num,playground_num,CCTV_num
,mean,mean,mean,mean,mean
day_care_type,,,,,
가정,18.394551,5.467890,3.310231,0.097790,4.054497
국공립,64.024858,11.867953,5.040201,0.665710,8.883065
민간,60.483949,11.007838,5.652452,0.528854,8.105740
법인·단체,64.575221,10.451327,4.658228,0.952381,7.352273
사회복지법인,85.392523,14.420561,6.132353,0.758621,9.746479
직장,71.334559,15.122951,5.299363,0.859259,13.171123
협동,29.179487,6.578947,3.925926,0.000000,2.333333

In [17]:
ls

dataton_apt.ipynb

## 학교 데이터 전처리

In [18]:
df = pd.read_csv(home+'전국초중등학교위치표준데이터.csv',  encoding='cp949') # 'utf-8'로 진행시 오류 발생
df

,학교ID,학교명,학교급구분,설립일자,설립형태,본교분교구분,운영상태,소재지지번주소,소재지도로명주소,시도교육청코드,시도교육청명,교육지원청코드,교육지원청명,생성일자,변경일자,위도,경도,데이터기준일자,제공기관코드,제공기관명
0,B000004692,문산초등학교,초등학교,1914-04-01,공립,본교,운영,경기도 파주시 문산읍 문산리 86,경기도 파주시 문산읍 문향로67번길 58,7530000,경기도교육청,7681000,경기도파주교육지원청,2013-11-29,2023-07-03,37.860785,126.783169,2023-09-22,C738100,청주대학교 지방교육재정연구원
1,B000002669,주양초등학교,초등학교,2006-03-01,공립,본교,운영,부산광역시 사상구 주례동 10-1,부산광역시 사상구 백양대로 372-6,7150000,부산광역시교육청,7201000,부산광역시북부교육지원청,2013-11-29,2023-07-03,35.153682,129.012146,2023-09-22,C738100,청주대학교 지방교육재정연구원
2,B000003569,개운초등학교,초등학교,1999-05-20,공립,본교,운영,울산광역시 남구 선암동 586-8,울산광역시 남구 두왕로 106,7480000,울산광역시교육청,7501000,울산광역시강남교육지원청,2013-11-29,2023-07-03,35.512600,129.309533,2023-09-22,C738100,청주대학교 지방교육재정연구원
3,B000026185,항동중학교,중학교,2020-03-01,공립,본교,운영,서울특별시 구로구 항동 22-5,서울특별시 구로구 연동로 239-2,7010000,서울특별시교육청,7041000,서울특별시남부교육지원청,2013-11-29,2023-07-03,37.482855,126.820190,2023-09-22,C738100,청주대학교 지방교육재정연구원
4,B000004626,구지초등학교,초등학교,1996-09-01,공립,본교,운영,경기도 구리시 인창동 666-3,경기도 구리시 건원대로76번길 40,7530000,경기도교육청,7652000,경기도구리남양주교육지원청,2013-11-29,2023-07-03,37.607263,127.142257,2023-09-22,C738100,청주대학교 지방교육재정연구원
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11984,B000027484,광주예술고등학교,고등학교,1983-03-15,공립,본교,운영,광주광역시 북구 매곡동 385,광주광역시 북구 서하로 72,7380000,광주광역시교육청,7391000,광주광역시동부교육지원청,2013-11-29,2023-07-03,35.186556,126.888059,2023-09-22,C738100,청주대학교 지방교육재정연구원
11985,B000023850,양덕중학교,중학교,2018-11-12,공립,본교,운영,경상북도 포항시 북구 양덕동 2027,경상북도 포항시 북구 장량로241번길 22,8750000,경상북도교육청,8761000,경상북도포항교육지원청,2013-11-29,2023-07-03,36.084206,129.407175,2023-09-22,C738100,청주대학교 지방교육재정연구원
11986,B000025977,망포초등학교,초등학교,2019-05-01,공립,본교,운영,경기도 수원시 영통구 망포동 750,경기도 수원시 영통구 동탄지성로 550-10,7530000,경기도교육청,7541000,경기도수원교육지원청,2013-11-29,2023-07-03,37.240650,127.047023,2023-09-22,C738100,청주대학교 지방교육재정연구원
11987,B000011074,서포중학교,중학교,1955-09-26,공립,본교,운영,경상남도 사천시 서포면 구평리 916,경상남도 사천시 서포면 서포로 293-6,9010000,경상남도교육청,9081000,경상남도사천교육지원청,2013-11-29,2023-07-03,35.008438,127.974528,2023-09-22,C738100,청주대학교 지방교육재정연구원
11988,B000013326,대아고등학교,고등학교,1966-01-22,사립,본교,운영,경상남도 진주시 이현동 316,경상남도 진주시 서장대로185번길 14,9010000,경상남도교육청,9051000,경상남도진주교육지원청,2013-11-29,2023-07-03,35.189928,128.058389,2023-09-22,C738100,청주대학교 지방교육재정연구원

In [19]:
df['운영상태'].value_counts() #모두다 운영상태인걸 확인 , 컬럼 삭제 예정

운영    11989
Name: 운영상태, dtype: int64

In [20]:
df['본교분교구분'].value_counts()

본교    11825
분교      164
Name: 본교분교구분, dtype: int64

In [21]:
df['학교급구분'].value_counts()

초등학교    6319
중학교     3283
고등학교    2387
Name: 학교급구분, dtype: int64

In [22]:
df['설립형태'].value_counts()

공립    10283
사립     1661
국립       45
Name: 설립형태, dtype: int64

In [23]:
df.columns

Index(['학교ID', '학교명', '학교급구분', '설립일자', '설립형태', '본교분교구분', '운영상태', '소재지지번주소',
       '소재지도로명주소', '시도교육청코드', '시도교육청명', '교육지원청코드', '교육지원청명', '생성일자', '변경일자',
       '위도', '경도', '데이터기준일자', '제공기관코드', '제공기관명'],
      dtype='object')

### 불필요한 컬럼 삭제

In [24]:
df.drop(['학교ID','시도교육청코드','시도교육청명','교육지원청코드','운영상태','소재지도로명주소','교육지원청명','생성일자','변경일자','데이터기준일자','제공기관코드', '제공기관명'],axis=1, inplace=True)

### 컬럼명 영어로 변경

In [25]:
df.rename(columns={
    '학교명': 'School_Name',
    '학교급구분': 'School_Level',
    '설립일자': 'Establishment_Date',
    '설립형태': 'Establishment_Type',
    '본교분교구분': 'Branch_Type',
    '소재지지번주소': 'Address',
    '위도': 'Latitude',
    '경도': 'Longitude'
}, inplace=True)

In [26]:
df

,School_Name,School_Level,Establishment_Date,Establishment_Type,Branch_Type,Address,Latitude,Longitude
0,문산초등학교,초등학교,1914-04-01,공립,본교,경기도 파주시 문산읍 문산리 86,37.860785,126.783169
1,주양초등학교,초등학교,2006-03-01,공립,본교,부산광역시 사상구 주례동 10-1,35.153682,129.012146
2,개운초등학교,초등학교,1999-05-20,공립,본교,울산광역시 남구 선암동 586-8,35.512600,129.309533
3,항동중학교,중학교,2020-03-01,공립,본교,서울특별시 구로구 항동 22-5,37.482855,126.820190
4,구지초등학교,초등학교,1996-09-01,공립,본교,경기도 구리시 인창동 666-3,37.607263,127.142257
...,...,...,...,...,...,...,...,...
11984,광주예술고등학교,고등학교,1983-03-15,공립,본교,광주광역시 북구 매곡동 385,35.186556,126.888059
11985,양덕중학교,중학교,2018-11-12,공립,본교,경상북도 포항시 북구 양덕동 2027,36.084206,129.407175
11986,망포초등학교,초등학교,2019-05-01,공립,본교,경기도 수원시 영통구 망포동 750,37.240650,127.047023
11987,서포중학교,중학교,1955-09-26,공립,본교,경상남도 사천시 서포면 구평리 916,35.008438,127.974528
11988,대아고등학교,고등학교,1966-01-22,사립,본교,경상남도 진주시 이현동 316,35.189928,128.058389

In [27]:
df = df[df['Address'].str.contains('부산광역시|서울특별시')]
df.reset_index(drop=True, inplace=True)
df

,School_Name,School_Level,Establishment_Date,Establishment_Type,Branch_Type,Address,Latitude,Longitude
0,주양초등학교,초등학교,2006-03-01,공립,본교,부산광역시 사상구 주례동 10-1,35.153682,129.012146
1,항동중학교,중학교,2020-03-01,공립,본교,서울특별시 구로구 항동 22-5,37.482855,126.820190
2,이사벨중학교,중학교,1964-12-12,사립,본교,부산광역시 연제구 거제동 75-7,35.193534,129.077938
3,서울개봉초등학교,초등학교,1971-12-04,공립,본교,서울특별시 구로구 개봉동 266,37.489525,126.857976
4,성동초등학교,초등학교,1952-04-06,공립,본교,부산광역시 남구 문현동 497,35.143833,129.069105
...,...,...,...,...,...,...,...,...
1925,명원초등학교,초등학교,2020-05-01,공립,본교,부산광역시 강서구 명지동 3405,35.094128,128.914935
1926,서울강덕초등학교,초등학교,2019-09-02,공립,본교,서울특별시 강동구 고덕동 222,37.559547,127.160484
1927,서울응암초등학교,초등학교,1962-11-12,공립,본교,서울특별시 은평구 응암동 340,37.588753,126.921616
1928,초량초등학교,초등학교,1937-04-10,공립,본교,부산광역시 동구 초량동 994-13,35.115712,129.036332
1929,반송중학교,중학교,1974-01-05,공립,본교,부산광역시 해운대구 반송동 418-4,35.234936,129.151762

In [28]:
df['Address'].str[:5]

0       부산광역시
1       서울특별시
2       부산광역시
3       서울특별시
4       부산광역시
        ...
1925    부산광역시
1926    서울특별시
1927    서울특별시
1928    부산광역시
1929    부산광역시
Name: Address, Length: 1930, dtype: object

### address 컬럼 분리

In [29]:
# City, gu, dong으로 나누는 함수
def split_address(address):
    
    parts = address.split(' ')
    city = parts[0]
    gu = parts[1]
    dong = ''.join(parts[2])
    return city, gu, dong

df[['city', 'gu', 'dong']] = df['Address'].apply(lambda x: pd.Series(split_address(x)))

print(df[['city', 'gu', 'dong']])

       city    gu dong
0     부산광역시   사상구  주례동
1     서울특별시   구로구   항동
2     부산광역시   연제구  거제동
3     서울특별시   구로구  개봉동
4     부산광역시    남구  문현동
...     ...   ...  ...
1925  부산광역시   강서구  명지동
1926  서울특별시   강동구  고덕동
1927  서울특별시   은평구  응암동
1928  부산광역시    동구  초량동
1929  부산광역시  해운대구  반송동

[1930 rows x 3 columns]

/opt/conda/lib/python3.9/site-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [30]:
df_columns = ['School_Name', 'School_Level', 'Establishment_Date', 'Establishment_Type', 'Branch_Type', 'Address', 'city', 'gu', 'dong', 'Latitude', 'Longitude', ]
df = df[df_columns]
df

,School_Name,School_Level,Establishment_Date,Establishment_Type,Branch_Type,Address,city,gu,dong,Latitude,Longitude
0,주양초등학교,초등학교,2006-03-01,공립,본교,부산광역시 사상구 주례동 10-1,부산광역시,사상구,주례동,35.153682,129.012146
1,항동중학교,중학교,2020-03-01,공립,본교,서울특별시 구로구 항동 22-5,서울특별시,구로구,항동,37.482855,126.820190
2,이사벨중학교,중학교,1964-12-12,사립,본교,부산광역시 연제구 거제동 75-7,부산광역시,연제구,거제동,35.193534,129.077938
3,서울개봉초등학교,초등학교,1971-12-04,공립,본교,서울특별시 구로구 개봉동 266,서울특별시,구로구,개봉동,37.489525,126.857976
4,성동초등학교,초등학교,1952-04-06,공립,본교,부산광역시 남구 문현동 497,부산광역시,남구,문현동,35.143833,129.069105
...,...,...,...,...,...,...,...,...,...,...,...
1925,명원초등학교,초등학교,2020-05-01,공립,본교,부산광역시 강서구 명지동 3405,부산광역시,강서구,명지동,35.094128,128.914935
1926,서울강덕초등학교,초등학교,2019-09-02,공립,본교,서울특별시 강동구 고덕동 222,서울특별시,강동구,고덕동,37.559547,127.160484
1927,서울응암초등학교,초등학교,1962-11-12,공립,본교,서울특별시 은평구 응암동 340,서울특별시,은평구,응암동,37.588753,126.921616
1928,초량초등학교,초등학교,1937-04-10,공립,본교,부산광역시 동구 초량동 994-13,부산광역시,동구,초량동,35.115712,129.036332
1929,반송중학교,중학교,1974-01-05,공립,본교,부산광역시 해운대구 반송동 418-4,부산광역시,해운대구,반송동,35.234936,129.151762

### CSV 저장

In [31]:
df.to_csv(home+'school_data.csv')

## 지하철 데이터 전처리

In [32]:
pd.read_csv(home+'서울교통공사 지하철역 주소 및 전화번호 정보.csv', encoding='cp949')

,호선,역명,구주소,도로명주소,전화번호
0,2호선,봉천,서울특별시 관악구 봉천동 979-7 봉천역(2호선),서울특별시 관악구 남부순환로 지하1721(봉천동),02-6110-2291
1,1호선,서울,서울특별시 중구 남대문로5가 73-6 서울역(1호선),서울특별시 중구 세종대로 지하2(남대문로 5가),02-6110-1331
2,1호선,시청,서울특별시 중구 정동 5-5 시청역(1호선),서울특별시 중구 세종대로 지하101(정동),02-6110-1321
3,1호선,종각,서울특별시 종로구 종로1가 54 종각역(1호선),서울특별시 종로구 종로 지하55(종로1가),02-6110-1311
4,1호선,종로3가,서울특별시 종로구 종로3가 10-5 종로3가역(1호선),서울특별시 종로구 종로 지하129(종로3가),02-6110-1301
...,...,...,...,...,...
283,9호선,송파나루,서울특별시 송파구 방이동 2 송파나루역(9호선),서울특별시 송파구 백제고분로 지하446(방이동),02-2656-0934
284,9호선,한성백제,서울특별시 송파구 방이동 88-17 한성백제역(9호선),서울특별시 송파구 위례성대로 지하29(방이동),02-2656-0935
285,9호선,올림픽공원(한국체대),서울특별시 송파구 방이동 89-28 올림픽공원역(9호선),서울특별시 송파구 양재대로 지하1233(방이동),02-2656-0936
286,9호선,둔촌오륜,서울특별시 강동구 둔촌동 227-7 둔촌오륜역(9호선),서울특별시 강동구 강동대로 지하303(둔촌동),02-2656-0937
287,9호선,중앙보훈병원,서울특별시 강동구 둔촌동 8-1 중앙보훈병원역(9호선),서울특별시 강동구 동남로 지하625(둔촌동),02-2656-0938

In [33]:
pd.read_csv(home+'국가철도공단_부산_지하철_주소데이터_20231109.csv', encoding='cp949')

,철도운영기관명,선명,역명,지번주소,도로명주소
0,부산교통공사,1호선,괴정,부산광역시 사하구 괴정동 934-3,부산광역시 사하구 낙동대로 지하 221(괴정동)
1,부산교통공사,1호선,교대,부산광역시 연제구 거제동 72-25,부산광역시 연제구 중앙대로 지하 1217
2,부산교통공사,1호선,구서,부산광역시 금정구 구서동 475,부산광역시 금정구 금정로 233번길 46(구서동)
3,부산교통공사,1호선,남산(부산외국대학교),부산광역시 금정구 남산동 136-1,부산광역시 금정구 중앙대로 2019-1
4,부산교통공사,1호선,남포,부산광역시 중구 남포동1가 11,부산광역시 중구 구덕로 지하 12
...,...,...,...,...,...
109,부산교통공사,4호선,수안,부산광역시 동래구 수안동 204-2,부산광역시 동래구 충렬대로 지하 223
110,부산교통공사,4호선,안평(고촌주택단지),부산광역시 기장군 철마면 안평리 543-23,부산광역시 기장군 철마면 반송로 1001
111,부산교통공사,4호선,영산대(아랫반송),부산광역시 해운대구 반송동 698-12,부산광역시 해운대구 반송로 803
112,부산교통공사,4호선,윗반송,부산광역시 해운대구 반송동 385-56,부산광역시 해운대구 반송로 917
113,부산교통공사,4호선,충렬사(안락),부산광역시 동래구 안락동 473,부산광역시 동래구 반송로 지하 205

In [34]:
# excel 파일 불러올 때 필요
# pip install openpyxl xlrd

In [35]:
subway_excel = pd.read_excel(home+'전체_도시철도역사정보_20231231.xlsx')
subway_df = pd.DataFrame(subway_excel)
subway_df

/tmp/ipykernel_533/780898328.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype={value.dtype})
  subway_excel = pd.read_excel(home+'전체_도시철도역사정보_20231231.xlsx')

,역번호,역사명,노선번호,노선명,영문역사명,한자역사명,환승역구분,환승노선번호,환승노선명,역위도,역경도,운영기관명,역사도로명주소,역사전화번호,데이터기준일자
0,0101,판암,S3001,대전 도시철도 1호선,Panam,板岩,일반역,NaN,NaN,36.316896,127.458264,대전교통공사,대전광역시 동구 옥천로 지하162 (판암동),042-539-3601,2022-05-09
1,0102,신흥,S3001,대전 도시철도 1호선,Sinheung,新興,일반역,NaN,NaN,36.319652,127.448792,대전교통공사,대전광역시 동구 옥천로 지하 70 (판암동),042-539-3602,2022-05-09
2,0103,대동,S3001,대전 도시철도 1호선,Dae-dong,大洞,일반역,NaN,NaN,36.329532,127.442848,대전교통공사,대전광역시 동구 계족로 지하 176 (대동),042-539-3603,2022-05-09
3,0104,대전,S3001,대전 도시철도 1호선,Daejeon,大田,일반역,NaN,NaN,36.331583,127.433118,대전교통공사,대전광역시 동구 중앙로 지하 218 (중동),042-539-3604,2022-05-09
4,0105,중앙로,S3001,대전 도시철도 1호선,Jungangno,中央路,일반역,NaN,NaN,36.328664,127.425842,대전교통공사,대전광역시 중구 중앙로 지하 145 (은행동),042-539-3605,2022-05-09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1064,115,공항,S2901,광주도시철도 1호선,Airport,空港,일반역,NaN,NaN,35.144179,126.811530,광주광역시 도시철도공사,광주광역시 광산구 상무대로 지하 416-99(신촌동),062-604-8550,2022-09-02
1065,116,송정공원,S2901,광주도시철도 1호선,Songjeong Park,松汀公園,일반역,NaN,NaN,35.143565,126.799245,광주광역시 도시철도공사,광주광역시 광산구 상무대로 지하 314-99(송정동),062-604-8560,2022-09-02
1066,117,광주송정역,S2901,광주도시철도 1호선,GwangjuSongjeong Station,光州松汀站,일반역,NaN,NaN,35.137529,126.791488,광주광역시 도시철도공사,광주광역시 광산구 상무대로 지하 201-99(송정동),062-604-8570,2022-09-02
1067,118,도산,S2901,광주도시철도 1호선,Dosan,道山,일반역,NaN,NaN,35.131713,126.787942,광주광역시 도시철도공사,광주광역시 광산구 상무대로 지하 125-99(도산동),062-604-8580,2022-09-02
1068,119,평동,S2901,광주도시철도 1호선,Pyeong-dong,平洞,일반역,NaN,NaN,35.124700,126.769586,광주광역시 도시철도공사,광주광역시 광산구 평동로 870(월전동),062-604-8590,2022-09-02

In [36]:
subway_df.columns

Index(['역번호', '역사명', '노선번호', '노선명', '영문역사명', '한자역사명', '환승역구분', '환승노선번호',
       '환승노선명', '역위도', '역경도', '운영기관명', '역사도로명주소', '역사전화번호', '데이터기준일자'],
      dtype='object')

In [37]:
subway_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1069 entries, 0 to 1068
Data columns (total 15 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   역번호      1069 non-null   object
 1   역사명      1069 non-null   object
 2   노선번호     1069 non-null   object
 3   노선명      1069 non-null   object
 4   영문역사명    1069 non-null   object
 5   한자역사명    1069 non-null   object
 6   환승역구분    1069 non-null   object
 7   환승노선번호   309 non-null    object
 8   환승노선명    315 non-null    object
 9   역위도      607 non-null    float64
 10  역경도      607 non-null    float64
 11  운영기관명    1069 non-null   object
 12  역사도로명주소  1069 non-null   object
 13  역사전화번호   1056 non-null   object
 14  데이터기준일자  1056 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(2), object(12)
memory usage: 125.4+ KB

In [38]:
subway_df['데이터기준일자'].unique()

array(['2022-05-09T00:00:00.000000000', '2023-08-31T00:00:00.000000000',
       '2022-04-30T00:00:00.000000000', '2022-11-30T00:00:00.000000000',
       '2022-04-28T00:00:00.000000000', '2022-04-27T00:00:00.000000000',
       '2023-05-31T00:00:00.000000000', '2022-05-25T00:00:00.000000000',
       '2022-12-08T00:00:00.000000000', '2023-11-30T00:00:00.000000000',
       '2023-06-01T00:00:00.000000000', '2023-05-26T00:00:00.000000000',
       '2022-08-31T00:00:00.000000000',                           'NaT',
       '2023-09-04T00:00:00.000000000', '2023-12-31T00:00:00.000000000',
       '2022-09-02T00:00:00.000000000'], dtype='datetime64[ns]')

In [39]:
subway_df['환승노선번호'].unique() # 알 수 없어서 버리는게 좋아 보임

array([nan, 'S0129+S0331', 'S0130+S0230', 'S0229+S0329', 'S0230+S0130',
       'S0329+S0229', 'S0331+S0129', 'S2801+I28A1', '-', 'S2801+S1107',
       'S2801+S1101', 'S2801+I28K3', 'S2802+I28A1', 'S2802+S1107',
       'S2802+S1101', 'S2802+S2801', 'S1107+S2801', 'S1107+S2802',
       'S2601+S2602', 'S2601+S2603', 'S2601+I26K6', 'S2601+L2604',
       'S2602+I26K6', 'S2602+S2603', 'S2602+L26B1', 'S2603+I26K6',
       'S2603+L2604', 'S2603+L26B1', 'L41E1', 'L48B1+S2602',
       'L48B1+S2603', 'S1101+S1104+I4108', 'S1105+S1106+I41K4',
       'S1102+I41K4', 'S1106+I41K4', 'S1109', 'S1105+S1109+L41G1',
       'S28I1', 'S28I2', 'S28M1', 'I1104', 'S1106', 'I4101', 'I11D1',
       'S11S1', 'S1107', 'S1102', 'I28A1', 'I41K1+I41K2+I41K4',
       'I1103+S1105', 'I1104+I41K4+I28A1', 'I1103', 'S1105',
       'I1104+S1105', 'S1105+I41K4+I41K1', 'S1108', 'I41K1', 'I41D1',
       'I4101+S1122', 'I28A1+I41K4', 'S1121', 'S1105+I1101', 'I41K4',
       'S1107+S11S1', 'S1102+S1105', 'I4101+I41K4+I28A1',
       'S11S1+I28A1+L41G1+I41WS', 'I1103+I1101', 'S1102+I1104',
       'S1102+I41K4+I41K1', 'I41K4+I28A1', 'I41K2+I41K4', 'I1103+S11S1',
       'S1105\nI28A1\nL4101\nI41WS', 'L11SL', 'I1103\nS1107',
       'L41U1+I1101', 'I28K1', 'I4108', 'S2602', 'L2604', 'I4108, I41K2',
       'L41U1', 'S2601, L2604', 'S1105, S1106, I28A1', 'S2602, I28A1',
       'S1106, I28A1', 'S2602, S1105, I28K1', 'S2601, I41K2, I28K1',
       'I4101, I41K2', 'I41K2', 'S1107, I41K2', 'I4106', 'S2603', 'I41WS',
       'I4108, I4101', 'S2601, I4108, I28K1', 'S1107, I4108', 'S2601',
       'S2601, I41K2, I4108', 'S2602, S1105, I4108', 'I41K5',
       'I4103, I41WS', 'I28K1, I41WS', 'I1101', 'I4103, I28K1'],
      dtype=object)

In [40]:
subway_df['환승노선명'].unique() # 환승노선명을 환승 노선 개수로 바꾸는게 좋을 것 같다.

array([nan, '대구도시철도1호선+대구도시철도3호선', '대구도시철도1호선+대구도시철도2호선',
       '대구도시철도2호선+대구도시철도3호선', '대구도시철도2호선+대구도시철도1호선',
       '대구도시철도3호선+대구도시철도2호선', '대구도시철도3호선+대구도시철도1호선', '공항철도', '-', '7호선',
       '경인선', '수인분당선', '인천1호선', '인천2호선', '부산 도시철도 1호선+부산 도시철도 2호선',
       '부산 도시철도 1호선+부산 도시철도 3호선', '부산 도시철도 1호선+동해선',
       '부산 도시철도 1호선+부산 경량도시철도 4호선', '부산 도시철도 2호선+동해선',
       '부산 도시철도 2호선+부산 도시철도 3호선', '부산 도시철도 2호선+부산김해경전철',
       '부산 도시철도 3호선+동해선', '부산 도시철도 3호선+부산 경량도시철도 4호선',
       '부산 도시철도 3호선+부산김해경전철', '수도권  경량도시철도 에버라인', '부산김해경전철+부산 도시철도 2호선',
       '부산김해경전철+부산 도시철도 3호선', '서울 도시철도 1호선+서울 도시철도 4호선+경의선',
       '서울 도시철도 5호선+서울 도시철도 6호선+경의중앙선', '서울 도시철도 2호선+경의중앙선',
       '서울 도시철도 6호선+경의중앙선', '서울 도시철도 9호선',
       '서울 도시철도 5호선+서울 도시철도 9호선+김포도시철도', '인천 도시철도 1호선', '인천 도시철도 2호선',
       '자기부상철도', '수도권 광역철도 4호선', '수도권 도시철도 6호선', '수도권 광역철도 1호선',
       '수도권 광역철도 신분당선', '수도권  도시철도 9호선', '수도권  광역철도 1호선', '수도권  도시철도 7호선',
       '수도권  도시철도 2호선', '공항선', '수도권  광역철도 분당+수도권  광역철도 경춘+수도권  광역철도 경의중앙',
       '수도권  도시철도 6호선', '수도권  광역철도 4호선', '수도권  광역철도 3호선+수도권  도시철도 5호선',
       '수도권  광역철도 4호선+수도권  광역철도 경의중앙+수도권  광역철도 공항', '수도권  광역철도 3호선',
       '수도권  도시철도 5호선', '수도권  광역철도 4호선+수도권  도시철도 5호선',
       '수도권  도시철도 5호선+수도권 광역철도 분당+수도권 광역철도 경의중앙', '수도권  도시철도 8호선',
       '수도권  광역철도 분당', '수도권  광역철도 신분당선', '수도권  광역철도 1호선+수도권 도시철도 2호선',
       '수도권  광역철도 공항+수도권 광역철도 경의중앙', '수도권  도시철도 5호선+수도권 광역철도 1호선',
       '수도권  광역철도 경의중앙', '수도권  도시철도 7호선+수도권  도시철도 9호선',
       '수도권  도시철도 2호선+수도권  도시철도 5호선',
       '수도권  광역철도 1호선+수도권 광역철도 경의중앙+수도권 광역철도 공항',
       '수도권 도시철도 9호선+수도권 광역철도 공항+김포도시철도+서해선',
       '수도권  광역철도 3호선+수도권 광역철도 1호선', '수도권  도시철도 2호선+수도권 광역철도 4호선',
       '수도권  도시철도 2호선+수도권 광역철도 분당+수도권 광역철도 경의중앙',
       '수도권  광역철도 경의중앙+수도권 광역철도 공항', '수도권  광역철도 경춘+수도권 광역철도 경의중앙',
       '수도권  광역철도 3호선+수도권 도시철도 9호선',
       '수도권  도시철도 5호선\n인천국제공항선\n김포골드라인\n서해선', '인천국제공항선', '수도권 경량도시철도 신림선',
       '경부선', '수도권  도시철도 4호선', '수도권 도시철도 3호선\n수도권 도시철도 7호선', '신분당선',
       '의정부+서울 광역철도 1호선', '분당선', '경의중앙선', '9호선', '5호선', '2호선', '4호선',
       '경의중앙선, 경춘선', '6호선', '의정부경전철', '1호선, 4호선', '5호선, 6호선, 공항',
       '2호선, 공항', '6호선, 공항', '서해선', '2호선, 5호선, 분당선', '1호선, 경춘선, 분당선',
       '경원선, 경춘선', '경춘선', '7호선, 경춘선', '일산선, 서해선', '3호선', '경의중앙선, 경원선',
       '1호선, 경의중앙선, 분당선', '7호선, 경의중앙선', '부산지하철3호선', '부산지하철1호선',
       '부산지하철2호선', '1호선, 경춘선, 경의중앙선', '2호선, 5호선, 경의중앙선', '8호선', '경강선',
       '용인경전철', '안산과천선, 서해선', '수인선, 서해선', '수인선, 과천안산선'], dtype=object)

In [41]:
subway_df = subway_df[subway_df['역사도로명주소'].str.contains('부산광역시|서울특별시')]
subway_df.reset_index(drop=True, inplace=True)
subway_df

,역번호,역사명,노선번호,노선명,영문역사명,한자역사명,환승역구분,환승노선번호,환승노선명,역위도,역경도,운영기관명,역사도로명주소,역사전화번호,데이터기준일자
0,0095,다대포해수욕장,S2601,부산 도시철도 1호선,Dadaepo Beach,多大浦海水浴場,일반역,NaN,NaN,35.048429,128.965919,부산광역시 부산교통공사,부산광역시 사하구 다대로 지하 692,051-678-6195,2022-11-30
1,0096,다대포항,S2601,부산 도시철도 1호선,Dadaepo Harbor,多大浦港,일반역,NaN,NaN,35.057288,128.971251,부산광역시 부산교통공사,부산광역시 사하구 다대로 지하 548,051-678-6196,2022-11-30
2,0097,낫개,S2601,부산 도시철도 1호선,Natgae,羅浦,일반역,NaN,NaN,35.065179,128.979932,부산광역시 부산교통공사,부산광역시 사하구 다대로 지하422,051-678-6197,2022-11-30
3,0098,신장림,S2601,부산 도시철도 1호선,Sinjangnim,新長林,일반역,NaN,NaN,35.074222,128.976638,부산광역시 부산교통공사,부산광역시 사하구 다대로 지하310,051-678-6198,2022-11-30
4,0099,장림,S2601,부산 도시철도 1호선,Jangnim,長林,일반역,NaN,NaN,35.081555,128.977638,부산광역시 부산교통공사,부산광역시 사하구 다대로 지하230,051-678-6199,2022-11-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
465,2514,송정역,I26K6,동해선,Songjeong,松 亭,일반역,NaN,NaN,35.137559,126.791535,한국철도공사,부산광역시 해운대구 송정동 299-2,1544-7788,2023-12-31
466,8012,오시리아역,I26K6,동해선,OSIRIA,오시리아,일반역,NaN,NaN,35.196256,129.208291,한국철도공사,부산광역시 기장군 기장읍 당사리 261,1544-7788,2023-12-31
467,8013,기장역,I26K6,동해선,Gijang,機 張,일반역,NaN,NaN,35.243027,129.218551,한국철도공사,부산광역시 기장군 기장읍 청강리 25-16,1544-7788,2023-12-31
468,8014,일광역,I26K6,동해선,Ilgwang,日 光,일반역,NaN,NaN,35.265565,129.233307,한국철도공사,부산광역시 기장군 일광면 이천리 750-4,1544-7788,2023-12-31
469,1980,김포공항역,I41WS,서해선,Gimpo Int'l Airport,金浦空港,일반역,NaN,NaN,37.562118,126.802857,한국철도공사,서울특별시 강서구 하늘길 지하 77,1544-7788,2023-12-31

In [42]:
subway_df['노선명'].unique()

array(['부산 도시철도 1호선', '부산 도시철도 2호선', '부산 도시철도 3호선', '부산 경량도시철도 4호선',
       '부산김해경전철', '인천국제공항선', '우이신설선', '신분당선', '수도권 경량도시철도 신림선', '1호선',
       '2호선', '3호선', '4호선', '5호선', '6호선', '7호선', '8호선', '수도권  도시철도 9호선',
       '경의중앙선', '경춘선', '동해선', '서해선'], dtype=object)

### 불필요한 컬럼 삭제

In [43]:
subway_df.columns

Index(['역번호', '역사명', '노선번호', '노선명', '영문역사명', '한자역사명', '환승역구분', '환승노선번호',
       '환승노선명', '역위도', '역경도', '운영기관명', '역사도로명주소', '역사전화번호', '데이터기준일자'],
      dtype='object')

In [44]:
subway_df.drop(['역번호', '역사명', '노선번호','영문역사명', '한자역사명', '환승노선번호',
               '운영기관명', '역사전화번호', '데이터기준일자'], axis=1,inplace=True)

/opt/conda/lib/python3.9/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

### 지하철 컬럼명 변경

In [45]:
subway_df.rename(columns={
    '노선명': 'Route_Name',
    '환승역구분': 'School_Level',
    '환승노선명': 'transfer_Route_count',
    '역위도': 'Latitude',
    '역경도': 'Longitude',
    '역사도로명주소': 'Address',
}, inplace=True)

/opt/conda/lib/python3.9/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [46]:
subway_df

,Route_Name,School_Level,transfer_Route_count,Latitude,Longitude,Address
0,부산 도시철도 1호선,일반역,NaN,35.048429,128.965919,부산광역시 사하구 다대로 지하 692
1,부산 도시철도 1호선,일반역,NaN,35.057288,128.971251,부산광역시 사하구 다대로 지하 548
2,부산 도시철도 1호선,일반역,NaN,35.065179,128.979932,부산광역시 사하구 다대로 지하422
3,부산 도시철도 1호선,일반역,NaN,35.074222,128.976638,부산광역시 사하구 다대로 지하310
4,부산 도시철도 1호선,일반역,NaN,35.081555,128.977638,부산광역시 사하구 다대로 지하230
...,...,...,...,...,...,...
465,동해선,일반역,NaN,35.137559,126.791535,부산광역시 해운대구 송정동 299-2
466,동해선,일반역,NaN,35.196256,129.208291,부산광역시 기장군 기장읍 당사리 261
467,동해선,일반역,NaN,35.243027,129.218551,부산광역시 기장군 기장읍 청강리 25-16
468,동해선,일반역,NaN,35.265565,129.233307,부산광역시 기장군 일광면 이천리 750-4
469,서해선,일반역,NaN,37.562118,126.802857,서울특별시 강서구 하늘길 지하 77

In [47]:
# City, gu 으로 나누는 함수
def split_address_2(address):
    parts = address.split(' ')
    city = parts[0]
    gu = parts[1]

    return city, gu

subway_df[['city', 'gu']] = subway_df['Address'].apply(lambda x: pd.Series(split_address_2(x)))

print(subway_df[['city', 'gu']])

      city    gu
0    부산광역시   사하구
1    부산광역시   사하구
2    부산광역시   사하구
3    부산광역시   사하구
4    부산광역시   사하구
..     ...   ...
465  부산광역시  해운대구
466  부산광역시   기장군
467  부산광역시   기장군
468  부산광역시   기장군
469  서울특별시   강서구

[470 rows x 2 columns]

/opt/conda/lib/python3.9/site-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [48]:
subway_df

,Route_Name,School_Level,transfer_Route_count,Latitude,Longitude,Address,city,gu
0,부산 도시철도 1호선,일반역,NaN,35.048429,128.965919,부산광역시 사하구 다대로 지하 692,부산광역시,사하구
1,부산 도시철도 1호선,일반역,NaN,35.057288,128.971251,부산광역시 사하구 다대로 지하 548,부산광역시,사하구
2,부산 도시철도 1호선,일반역,NaN,35.065179,128.979932,부산광역시 사하구 다대로 지하422,부산광역시,사하구
3,부산 도시철도 1호선,일반역,NaN,35.074222,128.976638,부산광역시 사하구 다대로 지하310,부산광역시,사하구
4,부산 도시철도 1호선,일반역,NaN,35.081555,128.977638,부산광역시 사하구 다대로 지하230,부산광역시,사하구
...,...,...,...,...,...,...,...,...
465,동해선,일반역,NaN,35.137559,126.791535,부산광역시 해운대구 송정동 299-2,부산광역시,해운대구
466,동해선,일반역,NaN,35.196256,129.208291,부산광역시 기장군 기장읍 당사리 261,부산광역시,기장군
467,동해선,일반역,NaN,35.243027,129.218551,부산광역시 기장군 기장읍 청강리 25-16,부산광역시,기장군
468,동해선,일반역,NaN,35.265565,129.233307,부산광역시 기장군 일광면 이천리 750-4,부산광역시,기장군
469,서해선,일반역,NaN,37.562118,126.802857,서울특별시 강서구 하늘길 지하 77,서울특별시,강서구

In [49]:
subway_df['transfer_Route_count'].isnull()

0      True
1      True
2      True
3      True
4      True
       ...
465    True
466    True
467    True
468    True
469    True
Name: transfer_Route_count, Length: 470, dtype: bool

In [50]:
subway_df = subway_df.fillna(0) #Nan 값은 0
subway_df

,Route_Name,School_Level,transfer_Route_count,Latitude,Longitude,Address,city,gu
0,부산 도시철도 1호선,일반역,0,35.048429,128.965919,부산광역시 사하구 다대로 지하 692,부산광역시,사하구
1,부산 도시철도 1호선,일반역,0,35.057288,128.971251,부산광역시 사하구 다대로 지하 548,부산광역시,사하구
2,부산 도시철도 1호선,일반역,0,35.065179,128.979932,부산광역시 사하구 다대로 지하422,부산광역시,사하구
3,부산 도시철도 1호선,일반역,0,35.074222,128.976638,부산광역시 사하구 다대로 지하310,부산광역시,사하구
4,부산 도시철도 1호선,일반역,0,35.081555,128.977638,부산광역시 사하구 다대로 지하230,부산광역시,사하구
...,...,...,...,...,...,...,...,...
465,동해선,일반역,0,35.137559,126.791535,부산광역시 해운대구 송정동 299-2,부산광역시,해운대구
466,동해선,일반역,0,35.196256,129.208291,부산광역시 기장군 기장읍 당사리 261,부산광역시,기장군
467,동해선,일반역,0,35.243027,129.218551,부산광역시 기장군 기장읍 청강리 25-16,부산광역시,기장군
468,동해선,일반역,0,35.265565,129.233307,부산광역시 기장군 일광면 이천리 750-4,부산광역시,기장군
469,서해선,일반역,0,37.562118,126.802857,서울특별시 강서구 하늘길 지하 77,서울특별시,강서구

In [54]:
subway_df['transfer_Route_count'].unique()

array([0, '부산 도시철도 1호선+부산 도시철도 2호선', '부산 도시철도 1호선+부산 도시철도 3호선',
       '부산 도시철도 1호선+동해선', '부산 도시철도 1호선+부산 경량도시철도 4호선', '부산 도시철도 2호선+동해선',
       '부산 도시철도 2호선+부산 도시철도 3호선', '부산 도시철도 2호선+부산김해경전철',
       '부산 도시철도 3호선+동해선', '부산 도시철도 3호선+부산 경량도시철도 4호선',
       '부산 도시철도 3호선+부산김해경전철', '부산김해경전철+부산 도시철도 2호선',
       '부산김해경전철+부산 도시철도 3호선', '서울 도시철도 1호선+서울 도시철도 4호선+경의선',
       '서울 도시철도 5호선+서울 도시철도 6호선+경의중앙선', '서울 도시철도 2호선+경의중앙선',
       '서울 도시철도 6호선+경의중앙선', '서울 도시철도 9호선',
       '서울 도시철도 5호선+서울 도시철도 9호선+김포도시철도', '수도권 광역철도 4호선', '수도권 도시철도 6호선',
       '수도권 광역철도 1호선', '수도권 광역철도 신분당선', '수도권  도시철도 9호선', '수도권  광역철도 1호선',
       '수도권  도시철도 7호선', '수도권  도시철도 2호선',
       '수도권  광역철도 분당+수도권  광역철도 경춘+수도권  광역철도 경의중앙', '수도권  도시철도 6호선',
       '수도권  광역철도 4호선', '수도권  광역철도 3호선+수도권  도시철도 5호선',
       '수도권  광역철도 4호선+수도권  광역철도 경의중앙+수도권  광역철도 공항', '수도권  광역철도 3호선',
       '수도권  도시철도 5호선', '수도권  광역철도 4호선+수도권  도시철도 5호선',
       '수도권  도시철도 5호선+수도권 광역철도 분당+수도권 광역철도 경의중앙', '수도권  도시철도 8호선',
       '수도권  광역철도 분당', '수도권  광역철도 신분당선', '수도권  광역철도 1호선+수도권 도시철도 2호선',
       '수도권  광역철도 공항+수도권 광역철도 경의중앙', '수도권  도시철도 5호선+수도권 광역철도 1호선',
       '수도권  광역철도 경의중앙', '수도권  도시철도 7호선+수도권  도시철도 9호선',
       '수도권  도시철도 2호선+수도권  도시철도 5호선',
       '수도권  광역철도 1호선+수도권 광역철도 경의중앙+수도권 광역철도 공항',
       '수도권 도시철도 9호선+수도권 광역철도 공항+김포도시철도+서해선',
       '수도권  광역철도 3호선+수도권 광역철도 1호선', '수도권  도시철도 2호선+수도권 광역철도 4호선',
       '수도권  도시철도 2호선+수도권 광역철도 분당+수도권 광역철도 경의중앙',
       '수도권  광역철도 경의중앙+수도권 광역철도 공항', '수도권  광역철도 경춘+수도권 광역철도 경의중앙',
       '수도권  광역철도 3호선+수도권 도시철도 9호선',
       '수도권  도시철도 5호선\n인천국제공항선\n김포골드라인\n서해선', '인천국제공항선', '수도권 경량도시철도 신림선',
       '경부선', '수도권  도시철도 4호선', '수도권 도시철도 3호선\n수도권 도시철도 7호선', '신분당선',
       '수인분당선', '경춘선', '경의중앙선', '부산지하철3호선', '부산지하철1호선', '부산지하철2호선'],
      dtype=object)

### 지하철 csv 저장

In [55]:
df.to_csv(home+'subway_data.csv')